{
  "root": true,
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "env": null,
    "browser": true,
    "node": true
  },
  "extends": [
    "standard",
    "plugin:import/errors",
    "plugin:flowtype/recommended",
    "prettier",
    "prettier/flowtype",
    "prettier/standard"
  ],
  "plugins": [
    "prettier",
    "html",
    "flowtype",
    "standard",
    "import"
  ],
  "rules": {
    "no-unused-vars": [
      2,
      {
        "args": "all",
        "varsIgnorePattern": "^_.+",
        "argsIgnorePattern": "^_.+",
        "caughtErrorsIgnorePatter": "^_"
      }
    ],
    "import/imports-first": 2,
    "import/newline-after-import": 2,
    "import/no-commonjs": 2,
    "import/no-dynamic-require": 2,
    "import/no-extraneous-dependencies": 0,
    "import/no-mutable-exports": 2,
    "import/order": 2,
    "import/prefer-default-export": 2,
    "import/no-unresolved": [
      0,
      {
        "ignore": [
          "app/src/renderer",
          "src/renderer"
        ]
      }
    ],
    "flowtype/boolean-style": 2,
    "flowtype/define-flow-type": 2,
    "flowtype/no-dupe-keys": 2,
    "flowtype/no-primitive-constructor-types": 2,
    "flowtype/require-parameter-type": [
      2,
      {
        "excludeArrowFunctions": true
      }
    ],
    "flowtype/require-return-type": [
      2,
      "always",
      {
        "excludeArrowFunctions": true
      }
    ],
    "flowtype/require-valid-file-annotation": [
      1,
      "always",
      {
        "annotationStyle": "block"
      }
    ],
    "prettier/prettier": "error"
  }
}
